In [188]:
fruits

['apple',
 'grape',
 'grapefruits',
 'lemon',
 'mango',
 'melon',
 'orange',
 'pinepapple',
 'watermelon']

In [189]:
for f in fruits:
    f

In [190]:
for f in fruits:
    return f

SyntaxError: 'return' outside function (<ipython-input-190-36125aa7ebf5>, line 2)

In [191]:
for f in fruits:
    print(f)

apple
grape
grapefruits
lemon
mango
melon
orange
pinepapple
watermelon

In [192]:
for f in fruits:
    print(f, ' ')

apple
grape
grapefruits
lemon
mango
melon
orange
pinepapple
watermelon

In [193]:
for f in fruits:
    print(f, end=' ')

apple grape grapefruits lemon mango melon orange pinepapple watermelon

In [200]:
num = 1
i = 0
while num < 10:
    num = (i+1) + (i+2)
    i += 1
print(num)

11

In [201]:
fruits

['apple',
 'grape',
 'grapefruits',
 'lemon',
 'mango',
 'melon',
 'orange',
 'pinepapple',
 'watermelon']

In [202]:
fruits

['apple',
 'grape',
 'grapefruits',
 'lemon',
 'mango',
 'melon',
 'orange',
 'pinepapple',
 'watermelon']

In [203]:
range(1,10,1)

range(1, 10)

In [204]:
print(range(1,10,1))

range(1, 10)

In [205]:
num = range(1,10,1)
num

range(1, 10)

In [206]:
for num in range(1,10,1):
    print(num)

1
2
3
4
5
6
7
8
9

In [207]:
for num in range(1,10):
    print(num)

1
2
3
4
5
6
7
8
9

In [208]:
for num in range(1,10,2):
    print(num)

1
3
5
7
9

In [211]:
for num in range(1,10,1):
    print(num)

1
2
3
4
5
6
7
8
9

In [212]:
for num in range(10,1,-1):
    print(num)

10
9
8
7
6
5
4
3
2